body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

ul li {
	padding: 0 1em;
}

ul {
	margin-left: 3em;
}

.title {
	text-align: center;
}

#btn1 {
	margin-top: 20px;
}

#main-text {
	margin-top: 30px;
}

.container .jumbotron {
	padding: 1em 1em;
}

.container {
	margin-top: 30px;
	margin-bottom: 2em;
}

.search-container {
	margin-bottom: 4em;
}


footer {
	
	width: 100%;
	padding: 10px 5px;
	margin: 0;
}

#footer {
	position: absolute;
	bottom: 0;
}


body .row {
	margin: 0;
}